<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="toDo">
        <h1>MA TO DO LIST</h1>
    </div>
    <br />
    <div id="root">
        <div class="partie-un">
            <label>Saisissez une tache :</label>
            <input type="text" @input="newTache" :value="tache" @keyup.enter="addTache(index)">
            <button @click="addTache(index)">Ajouter</button>
        </div>
        <br />
        <br />
        <div class="tables">
            <div class="tableau1">
                <button @click="mask">Masquer/Afficher</button>
                <div class="sous-tableau1" v-show="showAFaire">
                    <p>Liste "A FAIRE"</p>
                    <ul>
                        <li v-for="(element,index) in tableauAFaire">{{element}} <button @click="addTacheBis(index)">En
                                cours</button>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
            <br />
            <div class="tableau2">
                <button @click="newMask">Masquer/Afficher</button>
                <div class="sous-tableau2" v-show="showEnCours">
                    <p>Liste "EN COURS"</p>
                    <ul>
                        <li v-for="(element, index) in tableauEnCours">{{element}} <button
                                @click="deleteButton(index)">Terminée</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>